.DS_Store
.ipynb_checkpoints/*
.ipynb_checkpoints
.idea/
fMRI/ppc/smooth/output/
fMRI/ppc/smooth/output/*
fMRI/ppc/smooth/sid_batches/*.mat
fMRI/fx/models/*/sid_batches/fx_betaseries*/*.mat
fMRI/fx/models/output/
fMRI/fx/models/output*/*
fMRI/ppc/output/
fMRI/ppc/smooth/output/
fMRI/ppc/smooth/sid_batches/*/*.mat
fMRI/ppc/smooth/.ipynb_checkpoints/*
fMRI/ml/log-archive/*
fMRI/ml/*.log
fMRI/ml/*.err
fMRI/ml/__pycache__/*
fMRI/ml/__pycache__
fMRI/ml/nilearn_cache/*
fMRI/ml/nilearn_cache

org/bidsQC/bidsQC/logs_bidsQC/
org/bidsQC/conversion/logs_dcm2bids/*
org/bidsQC/conversion/logs_dcm2bids/
org/bidsQC/conversion/logs_dcm2bids
data/
.Rhistory
rsfMRI/ppc/output/
rsfMRI/ppc/output/*
rsfMRI/baseline_analysis/outputs/
rsfMRI/baseline_analysis/outputs/*
rsfMRI/607_project/outputs/
rsfMRI/607_project/outputs/*
rsfMRI/607_project/subject_pcorr/*.csv
rsfMRI/baseline_analysis/subject_correlation/baseline_acq/*.csv
rsfMRI/baseline_analysis/edge_dv_shuffle/BMI_acq1_shuffle.csv
fMRI/fx/models/output_ns
fMRI/fx/models/output_ns/*
rsfMRI/baseline_analysis/subject_correlation/concatenate/DEV*.csv
rsfMRI/baseline_analysis/subject_connectivity/DEV*.csv
.Rproj.user
fMRI/fx/motion/auto-motion-fmriprep/confounds_loaded_state.RData