.DS_Store
.idea/
fMRI/ppc/smooth/output/
fMRI/ppc/smooth/output/*
fMRI/ppc/smooth/sid_batches/*.mat
fMRI/fx/models/*/sid_batches/fx_betaseries*/*.mat
fMRI/fx/models/output/
fMRI/fx/models/output*/*
fMRI/ppc/output/
fMRI/ppc/smooth/output/
fMRI/ppc/smooth/sid_batches/*/*.mat
fMRI/ppc/smooth/.ipynb_checkpoints/*
org/bidsQC/bidsQC/logs_bidsQC/
org/bidsQC/conversion/logs_dcm2bids/*
org/bidsQC/conversion/logs_dcm2bids/
org/bidsQC/conversion/logs_dcm2bids
data/
.Rhistory
rsfMRI/ppc/output/
rsfMRI/ppc/output/*
rsfMRI/baseline_analysis/outputs/
rsfMRI/baseline_analysis/outputs/*
rsfMRI/607_project/outputs/
rsfMRI/607_project/outputs/*
rsfMRI/607_project/subject_pcorr/*.csv
rsfMRI/baseline_analysis/subject_correlation/baseline_acq/*.csv

fMRI/fx/models/output_ns
fMRI/fx/models/output_ns/*
rsfMRI/baseline_analysis/subject_correlation/concatenate/DEV*.csv
rsfMRI/baseline_analysis/subject_connectivity/DEV*.csv
